---
layout: default
title:  'Welcome'
---

{% include _STOC_{{site.year}}/header.html %}
{% include _STOC_{{site.year}}/navbar.html %}


<section class="main-content">
        {% include _STOC_{{site.year}}/description.html %}
        {% include _STOC_{{site.year}}/topics.html %}
        {% include _STOC_{{site.year}}/submissions.html %}
        {% include _STOC_{{site.year}}/important_dates.html %}
        {% include _STOC_{{site.year}}/schedule.html %}
        {% include _STOC_{{site.year}}/accepted_papers.html %}
        {% include _STOC_{{site.year}}/organizers.html %}
        {% include _STOC_{{site.year}}/program_committee.html %}





</section>