<h2>Accepted Papers</h2>
<dl>
  <dt>1. Active Defense Against Social Engineering: The Case for Human Language Technology</dt>
  <dd><strong>--- Authors: </strong>Adam Dalton, Ehsan Aghaei, Ehab Al-Shaer, Archna Bhatia, Esteban Castillo, Zhuo Cheng, Sreekar Dhaduvai, Qi Duan, Bryanna Hebenstreit, Md Mazharul Islam, Younes Karimi, Amir Masoumzadeh, Brodie Mather, Sashank Santhanam, Samira Shaikh, Alan Zemel, Tomek Strzalkowski and Bonnie J. Dorr</dd>
  <br>
  <dt>2. Adaptation of a Lexical Organization for Social Engineering Detection and Response Generation</dt>
  <dd><strong>--- Authors: </strong>Archna Bhatia, Adam Dalton, Brodie Mather, Sashank Santhanam, Samira Shaikh, Alan Zemal, Tomek Strzalkowski and Bonnie J. Dorr</dd>
  <br>
  <dt>3. Analysis of Online Conversations to Detect Cyberpredators Using Recurrent Neural Networks</dt>
  <dd><strong>--- Authors: </strong>Jinhwa Kim, Yoon Jo Kim, Mitra Behzadi and Ian G. Harris</dd>
  <br>
  <dt>4. A Privacy Preserving Data Publishing Middleware for Unstructured, Textual Social Media Data</dt>
  <dd><strong>--- Authors: </strong>Prasadi Abeywardana and Uthayasanker Thayasivam</dd>
  <br>
  <dt>5. Information Space Dashboard</dt>
  <dd><strong>--- Authors: </strong>Theresa Krumbiegel, Albert Pritzkau and Hans-Christian Schmitz</dd>
  <br>
  <dt>6. Is this hotel review truthful or deceptive? A platform for disinformation detection through computational stylometry</dt>
  <dd><strong>--- Authors: </strong>Antonio Pascucci, Raffaele Manna, Ciro Caterino, Vincenzo Masucci and Johanna Monti</dd>
  <br>
  <dt>7. Corpus Development for Studying Online Disinformation Campaign: A Narrative + Stance Approach</dt>
  <dd><strong>--- Authors: </strong>Mack Blackburn, Ning Yu, John Berrie, Brian Gordon, David Longfellow, William Tirrell and Mark Williams</dd>
  <br>
  <dt>8. Email Threat Detection Using Distinct Neural Network Approaches</dt>
  <dd><strong>--- Authors: </strong>Esteban Castillo, Sreekar Dhaduvai, Peng Liu, Kartik-Singh Thakur, Adam Dalton and Tomek Strzalkowski</dd>
</dl>
