<h2>Overview</h2>

<p>
    Description: Social threats for individuals and organizations are prevalent in online conversations, where human
    vulnerabilities pave the way for phishing, propaganda, scams, and other social engineering tactics. Over 80% of
    cyber penetrations start with a social engineering attack (Verizon/TM 2014), often through manipulative language
    usage, resulting in a loss of money, sensitive information, or control of resources to unsuspecting victims.
    Detection techniques based on metadata have yielded minimal success in the face of rising personalized attacks,
    especially those involving impersonation and power relationships (e.g., a spoofed dean requesting a gift card
    purchase from a department chair). Natural language processing and computational socio-linguistics techniques in
    conjunction with metadata analysis can provide a better means for detecting and countering such attacks for a
    wide variety of online conversations. The STOC (Social Threats in Online Conversations: Understanding and
    Management) workshop is the first dedicated to gleaning actions and intentions of adversaries in social
    engineering attacks from the adversaries’ language use as well as the content of communication with their
    targets.
</p>
