<section class="page-header">

    <h1 class="project-name ">STOC-2020</h1>
    <h2 class="project-tagline ">First International Workshop on Social Threats in Online Conversations</h2>
    <h2 class="project-tagline ">To be held in conjunction with The 12th Language Resources and Evaluation Conference <a href="https://lrec2020.lrec-conf.org/">(LREC 2020)</a>.
        <br>        <br>
        <p><font size="3" color="red"><strong>Camrea Ready deadline:</strong> April 7, 2020</font></p>
        <p><font size="3" color="red"><strong>Registration:</strong> Workshop authors must not register.</font></p>
        <br>
        <a href="#">
            (Proceedings)</a>
    </h2>
    </div>
</section>
