<section class="page-header">

    <h1 class="project-name ">STOC2020</h1>
    <h2 class="project-tagline ">First International Workshop on Social Threats in Online Conversations</h2>
    <h2 class="project-tagline ">Aspriring to be in conjunction with The The 58th Annual Meeting of the Association for
        Computational Linguistics <a href="https://acl2020.org/">(ACL 2020)</a> <br> in downtown Seattle from July 5th
        through
        July 10th, 2020.
        <br>
        <br>
        Venue: Hyatt Regency Seattle
        <br>
        <a href="#">
            (Proceedings)</a>
    </h2>
    </div>
</section>
