<a id="important-dates" class="anchor" href="#accepted-papers" aria-hidden="true"><span
        class="octicon octicon-link"></span></a>
<h2>Important Dates</h2>

<dl class="row">
    <dt class="col-sm-4.5">First call for workshop papers</dt>
    <dd class="col-sm-3">Dec 20, 2020</dd>
    <dt class="col-sm-4.5">Second call for workshop papers</dt>
    <dd class="col-sm-3">Jan 15, 2020</dd>
    <dt class="col-sm-4.5">Final call for workshop papers</dt>
    <dd class="col-sm-3">Feb 1, 2020</dd>
    <dt class="col-sm-4.5">Workshop papers due</dt>
    <dd class="col-sm-3">Feb 14, 2020</dd>
    <dt class="col-sm-4.5">Notification of acceptance</dt>
    <dd class="col-sm-3">March 13, 2020</dd>
    <dt class="col-sm-4.5">Camera-ready papers due</dt>
    <dd class="col-sm-3">April 2, 2020</dd>
    <dt class="col-sm-4.5">Workshop date</dt>
    <dd class="col-sm-3">May 11, 2020</dd>
</dl>
