<a id="important-dates" class="anchor" href="#accepted-papers" aria-hidden="true"><span
        class="octicon octicon-link"></span></a>
<h2>Important Dates</h2>

<dl class="row">
    <dt class="col-sm-3">First call for workshop papers</dt>
    <dd class="col-sm-9">Jan 1, 2020 (or sooner, to be confirmed)</dd>
    <dt class="col-sm-3">Second call for workshop papers</dt>
    <dd class="col-sm-9">Jan 15, 2020</dd>
    <dt class="col-sm-3">Final call for workshop papers</dt>
    <dd class="col-sm-9">Feb 1, 2020</dd>
    <dt class="col-sm-3">Workshop papers due</dt>
    <dd class="col-sm-9">Around Feb 14, 2020 (to be confirmed)</dd>
    <dt class="col-sm-3">Notification of acceptance</dt>
    <dd class="col-sm-9">By March 13, 2020 (to be confirmed)</dd>
    <dt class="col-sm-3">Camera-ready papers due</dt>
    <dd class="col-sm-9">April 2, 2020</dd>
    <dt class="col-sm-3">Workshop date</dt>
    <dd class="col-sm-9">May 11, 2020</dd>
</dl>
