<a id="important-dates" class="anchor" href="#accepted-papers" aria-hidden="true"><span
        class="octicon octicon-link"></span></a>
<h2>Important Dates</h2>

<dl class="row">
    <dt class="col-sm-3">First call for workshop papers</dt>
    <dd class="col-sm-9">Nov 20, 2019</dd>
    <dt class="col-sm-3">Second call for workshop papers</dt>
    <dd class="col-sm-9">Jan 20, 2020</dd>
    <dt class="col-sm-5">Third (Final) call for workshop papers</dt>
    <dd class="col-sm-7">March 20, 2020</dd>
    <dt class="col-sm-3">Workshop papers due</dt>
    <dd class="col-sm-9">April 6, 2020</dd>
    <dt class="col-sm-3">Notification of acceptance</dt>
    <dd class="col-sm-9">May 4, 2020</dd>
    <dt class="col-sm-3">Camera-ready papers due</dt>
    <dd class="col-sm-9">May 18, 2020</dd>
    <dt class="col-sm-3">Workshop date</dt>
    <dd class="col-sm-9">July 9/10, 2020</dd>
</dl>
