<a id="invitedSpeakers" class="anchor" href="#invitedSpeakers" aria-hidden="true"><span
        class="octicon octicon-link"></span></a>
<h2>Invited Speakers</h2>

<ul> 
        <li>Dr. Rosanna E. Guadagno, Assoc Professor, Director of Info Warfare WG at Center for International Security, Stanford; Former NSF Program Director. 
                Research focuses on social Influence and persuasion, mediated-communication, and gender roles. 
                Forthcoming book: <I>Psychological Processes in Social Media: Why We Click.</I> 
                <A href="https://cisac.fsi.stanford.edu/people/rosanna-guadagno">Home Page</A>

        <li>Dr. Ian Harris, Professor of Computer Science, University of California Irvine; 
                Research focuses on social engineering attack detection, embedded systems security, electronic design automation from natural language. Author of 
                <I> Catch me, Yes we can! - Pwning Social Engineers using Natural Language Processing Techniques in Real-Time.</I> 
                <A href="https://www.ics.uci.edu/~harris/">Home Page</A>
</ul>

<!-- 
<ul>
    <li>
        <font size="3" color="black"><b><a href="#">To appear soon</a></b></font>
        <br/> 
        <b>Title: TBD</b> 
         <br/> 
        Bio TBD 
    </li>
</ul>
-->

