<a id="organizers" class="anchor" href="#organizers" aria-hidden="true"><span
        class="octicon octicon-link"></span></a>

<h2>Organizing Committee</h2>

<table cellspacing="0" cellpadding="0" style="width:100%">
    <tr>
        <td>
            <li><a href="https://www.ihmc.us/groups/abhatia/">Archna Bhatia</a></li>
        </td>
        <td>IHMC</td>
        <td>abhatia@ihmc.us</td>
    </tr>

    <tr>
        <td>
            <li><a href="https://www.ihmc.us/groups/adalton/">Adam Dalton</a></li>
        </td>
        <td>IHMC</td>
        <td>adalton@ihmc.us</td>
    </tr>
    <tr>
        <td>
            <li><a href="https://webpages.uncc.edu/sshaikh2/">Samira Shaikh</a></li>
        </td>
        <td>UNCC</td>
        <td>samirashaikh at uncc dot edu</td>
    </tr>

</table>
