<a id="organizers" class="anchor" href="#organizers" aria-hidden="true"><span
        class="octicon octicon-link"></span></a>

<h2>Organizing Committee</h2>

<table class="table">

    <tr>
        <th scope="row">Archna Bhatia</th>
        <td>Research Scientist at the Florida Institute for Human and Machine Cognition</td>
        <td>abhatia@ihmc.us</td>
        <td>Her research interests are in natural language understanding and improving NLP systems using deep
            linguistic knowledge. She was involved in the successful proposal and organization of the SpLU-RoboNLP 2019
            and the SpLU-2018 workshops. She also led an effort to develop Hindi for the PARSEME shared task (PARSEME edition
            1.1).
        </td>
    </tr>
    <tr>
        <th scope="row">Samira Shaikh</th>
        <td>Assistant Professor at the University of North Carolina at Charlotte</td>
        <td>samirashaikh@uncc.edu</td>
        <td>Her research interests are using natural language processing and cognitive science to program intelligent
            agents. She is the co-PI on DARPA’s ASED program (PANACEA team). She is the co-chair for Widening NLP
            workshop
            (WiNLP), which is a two year position. This year the WiNLP workshop was colocated with ACL.
        </td>
    </tr>
    <tr>
        <th scope="row">Adam Dalton</th>
        <td>Research Associate at the Florida Institute for Human and Machine Cognition</td>
        <td>adalton@ihmc.us</td>
        <td>
            His research focuses on using natural language processing to improve cyber threat intelligence. He has
            developed
            tools to improve open source intelligence gathering using information foraging and improving cyber attack
            prediction
            through social signals such as outrage.
        </td>
    </tr>
    <tr>
        <th scope="row">Tomek Strzalkowski</th>
        <td>Professor of Cognitive Science and Computer Science at Rensselaer Polytechnic Institute</td>
        <td>tomek@rpi.edu</td>
        <td>Previously Professor of Computer Science at SUNY Albany, and Director of Albany’s ILS Institute. His
            research
            focuses on computational linguistics, sociolinguistics, socio-behavioral computing. He was involved in IBM’s
            Jeopardy! Challenge. Organized and served as invited speaker several workshops for ACL, LREC, ACM, ISAT.
        </td>
    </tr>
    <tr>
        <th scope="row">Bonnie Dorr</th>
        <td>Senior Research Scientist, Associate Director of the Florida Institute for Human and Machine Cognition
        </td>
        <td>bdorr@ihmc.us</td>
        <td>Her research focuses on semantics, MT, language understanding, and cyber-NLP. She has organized multiple
            conferences and workshops, e.g., ACL (local org, 1999), AAAI Symposium Series (director 1994-1999), Co-Chair
            of multiple AMTA Workshops. Served multiple times as ACL Area Chair. PI or co-I: CAUSE, SocialSim, ASED.
        </td>
    </tr>
</table>
