<a id="schedule" class="anchor" href="#schedule" aria-hidden="true"><span class="octicon octicon-link"></span></a>
<h2><a href="https://lrec2020.lrec-conf.org/media/proceedings/Workshops/Books/stoc2020book.pdf">Proceedings</a>
</h2>

<!-- 
<ul> To appear soon
</ul>


<table class="table" style="width:100%">
    <tr>
        <td>9:00-9:10</td>
        <td><strong>Opening remarks</strong></td>
        <td>Archna Bhatia</td>
    </tr>

    <tr class="success">
        <td>9:10-10:10</td>
        <td><strong>Keynote Talk. </strong> TBD
        </td>
        <td> TBD</td>
    </tr>
 -->

</table>
