<a id="submission-info" class="anchor" href="#submission-info" aria-hidden="true"><span
        class="octicon octicon-link"></span></a>
<h2>Submissions</h2>

Both long (8pp) and short (4pp) papers must follow <a href="https://lrec2020.lrec-conf.org/en/submission2020/authors-kit/">the
    LREC Stylesheet</a> and can be submitted <a href=" https://www.softconf.com/lrec2020/STOC2020/">here</a>.
<b>Ethics statement:</b> Submissions must include a brief statement about “ethical considerations” that addresses the potential for malicious use of the technology or other possible negative impacts and how these are mitigated. 
