<p>
    <b>Topics:</b> The topics of the workshop include but are not limited to the following:
</p>
<ul>
<li>Development and evaluation of corpora to study social engineering threats/attacks in various forms of online communication, such as emails, SMS, slack, Whatsapp and LinekdIn</li>
<li>Challenges in developing corpora for social engineering attacks and disinformation campaigns</li>
<li>Advances in NLP for understanding online conversations and social engineering contexts, e.g., semantic parsing, information retrieval and question answering</li>
<li>Detection of social threats, e.g., disinformation campaigns and social engineering attacks in online conversations</li>
<li>NLP based mitigation techniques for social engineering attacks and disinformation campaigns</li>
<li>Dialogue/narrative understanding and generation for bots to counter social engineering attacks and disinformation campaigns</li>
<li>Automatic detection of actions and intentions of participants in online conversations, e.g., the implied “ask” in the sentence 
    <em>Your vote
            <a href="#" data-toggle="tooltip" title="" data-original-title="This would be a phishing link">here</a>
            will result in eligibility for a $500 prize.
        </em>
</li>
<li>Natural language generation techniques to enable bot development for controlled, goal-directed and yet natural sounding conversations with potential adversaries and their followers</li>
<li>Persuasion techniques used in dialogue/narrative in social engineering contexts and in disinformation campaigns</li>
<li>Active and passive defense mechanisms used for development of conversational bots</li>
<li>Identification of attitudes that adversaries attempt to induce in targets for compliance</li>
<li>Techniques to induce attitudes in the adversaries or their followers, through a range of different counter measures</li>
<li>Risk and trust models for operating NLP bots with discretion and autonomy to engage with an adversary or an adversary’s followers</li>
<li>Social impact of disinformation campaigns, social engineering attacks, persuasion techniques, etc. using language</li>
<li>Evaluation of the impact of different types of social engineering attacks and disinformation campaigns.</li>
</ul>
