<p>
    <b>Topics:</b> The topics of the workshop include but are not limited to the following:
</p>
<ul>
    <li>Advances in Natural Language Processing (NLP) for understanding online conversations, e.g., semantic
        parsing, information retrieval and question answering</li>
    <li>Dialogue/narrative understanding and generation for bots to counter adversaries</li>
    <li>Detection of social threats, e.g., social engineering attacks, in online conversations</li>
    <li>Automatic detection of actions and intentions of participants in online conversations, e.g., the implied
        “ask” in the sentence
        <em>Your vote
            <a href="#" data-toggle="tooltip" title="" data-original-title="This would be a phishing link"> here </a>
            will result in eligibility for a $500 prize.
        </em>
    </li>
    <li>Natural language generation techniques to enable bot development for controlled, goal-directed and yet
        natural sounding conversations with potential adversaries.</li>
    <li>Persuasion techniques used in dialogue/narrative in social engineering contexts</li>
    <li>Active and passive defense mechanisms used for development of conversational bots</li>
    <li>Identification of attitudes that adversaries attempt to induce in targets for compliance</li>
    <li>Techniques to induce attitudes in the adversaries, e.g., in counter attacks</li>
    <li>Risk models for operating NLP bots with discretion and autonomy to converse with adversary</li>
    <li>Social impact of social engineering attacks, persuasion techniques, etc. using language</li>
    <li>Evaluation of the impact of different types of social engineering attacks</li>
    <li>Evaluation of approaches to detecting and countering threats using language as a tool</li>
</ul>
