<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="{{ site.path }}/js/tooltips.js"></script>
    <script src="{{ site.path }}/js/bootstrap.min.js"></script>
</head>
<body>


<div class="content">
    {{ content }}
</div>
</div><!-- /.container -->
      <footer class="mastfoot mt-auto">
        <div class="inner text-center">
          <p><a href="https://commons.wikimedia.org/wiki/File:Marseille_banner.jpg">Header image derived from work by Tiia Monto</a> and made available under the Creative Commons <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">Attribution-Share Alike 3.0 Unported license</a></p>
        </div>
      </footer>
</body>
</html>
