---
layout: default
title:  'Ian Harris'
---

{% include _STOC_2020/header.html %}
{% include _STOC_2020/deep_navbar.html %}


<h2>More information about Dr. Harris</h2>

<b>Webpage: </b><A href="https://www.ics.uci.edu/~harris/">Dr. Ian Harris</A>
<br/>
<br/>
<b>Bio: </b>Dr. Ian G. Harris is Professor of Computer Science at the University of California Irvine. He received his MS and PhD degrees in Computer Science from the University of California San Diego in 1992 and 1997 respectively. He received his BS degree in Computer Science from Massachusetts Institute of Technology in 1990. He was a member of the faculty in the Electrical and Computer Engineering Department at the University of Massachusetts Amherst from 1997 until June 2003. Professor Harris' research interests include the application of Natural Language Understanding to security and the design of secure hardware/software systems. Current projects include the detection of phone-based social engineering attacks, formalization of natural language specifications, and the development of a cyber test range to evaluate the security of IoT systems.
