---
layout: default
title:  'Welcome'
---

{% include _STOC_2020/header.html %}
{% include _STOC_2020/navbar.html %}


<section class="main-content">
        {% include _STOC_2020/description.html %}
        {% include _STOC_2020/topics.html %}
        {% include _STOC_2020/submissions.html %}
        {% include _STOC_2020/important_dates.html %}
        {% include _STOC_2020/schedule.html %}
        {% include _STOC_2020/accepted_papers.html %}
        {% include _STOC_2020/organizers.html %}
        {% include _STOC_2020/program_committee.html %}





</section>